#container {
	width: 90%;
	margin: 10px auto;
	background-color: #fff;
	color: #333;
	border: 1px solid gray;
	line-height: 1.3;
}

#top {
	padding: .5em;
	background-color: #ddd;
	border-bottom: 1px solid gray;
}

#top h1 {
	margin: 0;
	padding: 0;
}

#leftnav {
	float: left;
	border-right: 1px solid gray;
}

#rightnav {
	float: right;
	border-left: 1px solid gray;
}

#leftnav, #rightnav {
	width: 160px;
	margin: 0;
	padding: 1em;
}

#content {
	margin-left: 200px;
	margin-right: 200px;
	padding: 1em;
	max-width: 36em;
}

#footer {
	clear: both;
	padding: .5em;
	margin: 0;
	color: #333;
	background-color: #ddd;
	border-top: 1px solid gray;
}

#leftnav p, #rightnav p {
	margin-top: 1em;
}

#content h2 {
	margin-top: .5em;
}