ul#navlist {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: red;
	float: left;
	width: 100%;
}

ul#navlist li {
	display: inline;
}

ul#navlist li a {
	float: left;
	width: 5em;
	color: #fff;
	background-color: #036;
	padding: .2em 1em;
	text-decoration: none;
	border: 1px solid #fff;
}

ul#navlist li a:hover {
	background-color: #069;
}